/*公共导航*/

#best-nav {
	height: 30px;
	background: #323232;
	min-width: 1160px;
	position: relative;
}

#best-nav .best-logo {
	margin: 6px 5px 0 30px
}

#best-nav .best-ul {
	padding-left: 20px
}

#best-nav .best-ul .best-li {
	float: left;
}

#best-nav .best-ul .best-li .best-li-title {
	float: left;
	font: 700 14px/30px "";
	padding: 0 10px;
	color: silver;
	margin-right: 10px;
}

#best-nav .best-ul .best-li .best-li-title:hover {
	color: #008000;
}

#best-nav .best-ul .best-li .best-nav-list1 {
	width: 185px;
	height: 99px;
	background: #fff;
	border-radius: 8px;
	position: absolute;
	top: 30px;
	padding: 8px 0;
}

#best-nav .best-ul .best-li .best-nav-list2 {
	width: 125px;
	height: 163px;
	background: #fff;
	border-radius: 8px;
	position: absolute;
	top: 30px;
	padding: 8px 0;
}

.best-nav-list1-li1-list {
	width: 570px;
	height: 352px;
	padding: 0 20px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 190px
}

.best-nav-list1-li1-list-top {
	height: 30px;
	padding: 8px 0;
	width: 570px;
}

.best-nav-list1-li1-list dt {
	font: 16px/30px ""
}

#best-nav .best-ul .best-li .best-nav-list1 .best-nav-list1-li {
	width: 145px;
	heigt: 30px;
	padding: 0 20px
}

#best-nav .best-ul .best-li .best-nav-list2 li {
	width: 125px;
	heigt: 30px;
	padding: 0 20px
}

#best-nav .best-ul .best-li .best-nav-list2 a,
#best-nav .best-ul .best-li .best-nav-list1 a {
	font: 16px/30px "";
	color: #636363
}

#best-nav .best-nav_r {
	margin-right: 20px;
}

#best-nav .best-nav_r li {
	float: left
}

#best-nav .best-nav_r li .search {
	width: 188px;
	height: 20px;
	padding: 4px 6px;
	color: #c0c0c0
}

#best-nav .best-nav_r li .search .fa-search {
	float: right;
	font: 18px/26px ""
}


/*#best-nav .best-nav_r .second {
	width: 150px
}*/

#best-nav .best-nav_r .second .fa {
	width: 16;
	height: 16px;
	padding: 8px 10px 0 15px;
	float: left;
	color: #c0c0c0;
}

#best-nav .best-nav_r .second .fa:hover {
	color: #008000
}

#best-nav .best-nav_r .third a,
#best-nav .best-nav_r .third span {
	font: 16px/30px "";
	color: #c0c0c0;
	padding-left: 10px
}


/*公公导航*/

.list-style {
	font: 12px/14px "";
	margin: 20px 0;
}

.list2 {
	height: 38px;
	padding-bottom: 30px;
	border-bottom: 2px solid #ddd;
	margin-bottom: 30px;
}

.list-style2 {
	font: 36px/38px "";
	height: 38px;
}

.list-style2 .title {
	font: 36px/38px "";
	color: #10B041;
}

.list-style2 .futitle {
	font: 18px/20px "";
	color: silver;
	padding-top: 18px;
}


/*主要部分*/

.container .contain {
	padding: 20px 10px;
}

.cartList {
	padding: 0 20px;
}

.cartList ul {
	list-style: none;
}

.cartHead {
	border: 1px solid black;
	height: 24px;
}

.cartHead li {
	width: 150px;
	height: 24px;
	float: left;
	font: 18px/24px "楷体";
	text-align: center;
}

.goodInfo {
	border: 1px solid black;
	border-top: none;
	height:150px;
	padding: 1px;
}

.goodInfo li {
	float: left;
	width: 150px;
	overflow: hidden;
	height: 150px;
	text-align: center;
	font: 18px/150px "";
}

.goodInfo li.num input {
	width: 70px;
	text-align: center;
}

.goodInfo li.num a {
	display: inline-block;
	width: 10px;
	height: 20px;
	font: 12px/150px "";
	background: #ddd;
	text-decoration: none;
}

.goodInfo li img {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin-top: 2px;
	text-align: center;
}

.blank {
	height: 150px;
	font: 18px/150px "";
	text-align: center;
	display: none;
	margin-bottom: 550px;
}


/*主要部分*/


/*<!--底部1开始--> */

#foot {
	height: 220px;
	background: #F5F5F5;
}

#foot .back {
	height: 220px;
	background: url(../img/jipiao/big1.jpg) no-repeat;
}


/*<!--底部1结束-->*/


/* <!--底部2开始-->*/

#foot2 {
	margin-left: -10px;
	height: 265px;
	background: #333333;
	border-top: 3px solid #10B041;
}

#foot2 .back {
	height: 265px;
	background: url(../img/jipiao/big2.jpg) no-repeat;
}