
#best-nav {
	height: 30px;
	background: #323232;
	min-width: 1160px;
	position: relative;
}

#best-nav .best-logo {
	margin: 6px 5px 0 30px
}

#best-nav .best-ul {
	padding-left: 20px
}

#best-nav .best-ul .best-li {
	float: left;
}

#best-nav .best-ul .best-li .best-li-title {
	float: left;
	font: 700 14px/30px "";
	padding: 0 10px;
	color: silver;
	margin-right: 10px;
}

#best-nav .best-ul .best-li .best-li-title:hover {
	color: #008000;
}

#best-nav .best-ul .best-li .best-nav-list1 {
	width: 185px;
	height: 99px;
	background: #fff;
	border-radius: 8px;
	position: absolute;
	top: 30px;
	padding: 8px 0;
}

#best-nav .best-ul .best-li .best-nav-list2 {
	width: 125px;
	height: 163px;
	background: #fff;
	border-radius: 8px;
	position: absolute;
	top: 30px;
	padding: 8px 0;
}

.best-nav-list1-li1-list {
	width: 570px;
	height: 352px;
	padding: 0 20px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 190px
}

.best-nav-list1-li1-list-top {
	height: 30px;
	padding: 8px 0;
	width: 570px;
}

.best-nav-list1-li1-list dt {
	font: 16px/30px ""
}

#best-nav .best-ul .best-li .best-nav-list1 .best-nav-list1-li {
	width: 145px;
	heigt: 30px;
	padding: 0 20px
}

#best-nav .best-ul .best-li .best-nav-list2 li {
	width: 125px;
	heigt: 30px;
	padding: 0 20px
}

#best-nav .best-ul .best-li .best-nav-list2 a,
#best-nav .best-ul .best-li .best-nav-list1 a {
	font: 16px/30px "";
	color: #636363
}

#best-nav .best-nav_r {
	margin-right: 20px;
}

#best-nav .best-nav_r li {
	float: left
}

#best-nav .best-nav_r li .search {
	width: 188px;
	height: 20px;
	padding: 4px 6px;
	color: #c0c0c0
}

#best-nav .best-nav_r li .search .fa-search {
	float: right;
	font: 18px/26px ""
}


/*#best-nav .best-nav_r .second {
	width: 150px
}*/

#best-nav .best-nav_r .second .fa {
	width: 16;
	height: 16px;
	padding: 8px 10px 0 15px;
	float: left;
	color: #c0c0c0;
}

#best-nav .best-nav_r .second .fa:hover {
	color: #008000
}

#best-nav .best-nav_r .third a,
#best-nav .best-nav_r .third span {
	font: 16px/30px "";
	color: #c0c0c0;
	padding-left: 10px
}


.list-style{
	font:12px/14px "";
	margin:20px 0;
}

.list2{
	height: 38px;
	padding-bottom: 30px;
	border-bottom:2px solid #ddd ;
	margin-bottom: 30px;
}

.list-style2{
		font:36px/38px "";
	height: 38px;
}


.list-style2 .title{
	font:36px/38px "";
	color:#10B041;
}


.list-style2 .futitle{
	font:18px/20px "";
	color:silver;
	padding-top: 18px;
}



.list-style3{
	height:287px;
	margin:50px 0 100px 0;
}

.list3 .list-form{
	background: #FCFCFC;
	height:258px;
	width:638px;
	border:1px solid #ddd;
	padding:6px 20px 20px ;
}


.list3 .list-form .radio{
	padding:12px 0;
	border-bottom: 1px solid #ddd;
}

.list3 .list-form .radio lable{
	font:12px/16px "";
	padding-right: 8px;
	
}

.list3 .list-form .qidian{
	padding: 20px 0 5px;
line-height: 14px;
color: #636363;
font-weight: 700;
}

.list3 .list-form .city .input{
	width: 265px;
}


.list3 .list-form .search input{
	width: 248px;
	height:42px;
	background: #10B041;
	margin-top: 20px;
}







































/*<!--底部1开始--> */

#foot {
	height: 220px;
	background: #F5F5F5;
}

#foot .back {
	height: 220px;
	background: url(../img/jipiao/big1.jpg) no-repeat;
}


/*<!--底部1结束-->*/


/* <!--底部2开始-->*/

#foot2 {
	margin-left: -10px;
	height: 265px;
	background: #333333;
	border-top: 3px solid #10B041;
}

#foot2 .back {
	height: 265px;
	background: url(../img/jipiao/big2.jpg) no-repeat;
}


/* <!--地步2结束-->*/


/*<!--底部结束-->*/
