#login-top {
	height: 760px;
	width: 100%;
	background: url(../img/register/register-bg.jpg) no-repeat top center;
	text-align: center;
}

#login-top .login-box {
	padding: 60px 0;
	display: inline-block;
	
}


}
#login-top .login-logo {
	width: 380px;
	height: 46px;
	text-align: center;
}
#login-top .login-logo img {
	width: 126px;
	height: 46px;
	display: inline-block;
	vertical-align: bottom;
}
#login-top .login-logo span {
	font: 24px/33px "";
	color: #fff;
}
.login-box-top {
	margin-top: 45px;
	padding: 10px 0;
	width: 380px;
	
	background: #f1f1f2;
	background: rgba(255, 255, 255, 0.95);
}
.login-margin {
	width: 330px;
	margin: 0 auto;
}
.login-box-top-head {
	border-bottom: 1px solid #E8E8E8;
	height:60px
}
.login-box-top-head a {
	width: 330px;
	height: 59px;
	float: left;
	display: inline-block;
	font: 16px/59px "";
	color: #959595;
}

.login-active{
	border-bottom:2px solid #10B041;
	color:#10B041;
}


.login-section{
	width:330px;
	
	padding-top: 30px;
}

.login-name{
	height:70px;
	width:330px
}

.login-section .login-name input{
	height:32px;
	width:314px;
	padding:3px 7px 3px 7px;
	border:0;
	border:1px solid #d7d7d7;
	font:12px/34px "";
	color: #636363;
}

.login-section .login-submit{
	height:70px;
	width:330px
}

.login-section .login-sunbmit-buttom{
	height:36px;
	width:330px;
	border:0;
	font:16px/36px "";
	color: #fff;
	background: #3F9F5F;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 8px;
}


.login-footer{
	text-align: left;
}

.remanber span,.login-footer a,.login-footer span{
	font:12px/16px "";
	color:#959595;
}

.login-footer a:hover{
	color: #10B041;
}

.login-footer a.register{
	font:12px/16px "";
	color:#10B041;
}


.login-select{
	margin-bottom: 30px;
	}

.login-select .title-text{
	width:60px;
	height:38px;
	border:1px solid #7D7D7D;
	display: block;
	background: #fff;
	font:14px/38px "";
	float: left;
	padding:0 10px 0 5px
}

.login-select .login-phone{
	width:232px;
	height:32px;
	padding:3px 7px 3px 7px;
}

.login-section .login-code {
	height:70px
}


.login-section .login-code input{
	width:182px;
	height:33px;
	padding:3px 7px 3px 7px;
	margin-right: 5px;
}

.login-section .login-yanzhengma {
	height:70px;
	text-align: left;
}


.login-section .login-yanzhengma input{
	width:182px;
	height:33px;
	padding:3px 7px 3px 7px;
	margin-right: 5px;
}

.login-section .login-yanzhengma span{
	width:115px;
	height:40px;
	padding:0 15px;
	background: #3F9F5F;
	color:#fff;
	font:16px/40px "";
}

.login-section .login-yanzhengma a{
	background:#3F9F5F;
	font:16px/40px "";
	display: block;
	float: right;
	border-radius: 3px;
	width:125px;
}


/*脚部内容*/
#foot{
	height: 219px;
	width:100%;
	background: url(../img/bigcut/bg1.jpg);
}