/*公共导航*/

#best-nav {
	height: 30px;
	background: #323232;
	min-width: 1160px;
	position: relative;
}

#best-nav .best-logo {
	margin: 6px 5px 0 30px
}

#best-nav .best-ul {
	padding-left: 20px
}

#best-nav .best-ul .best-li {
	float: left;
}

#best-nav .best-ul .best-li .best-li-title {
	float: left;
	font: 700 14px/30px "";
	padding: 0 10px;
	color: silver;
	margin-right: 10px;
}

#best-nav .best-ul .best-li .best-li-title:hover {
	color: #008000;
}

#best-nav .best-ul .best-li .best-nav-list1 {
	width: 185px;
	height: 99px;
	background: #fff;
	border-radius: 8px;
	position: absolute;
	top: 30px;
	padding: 8px 0;
}

#best-nav .best-ul .best-li .best-nav-list2 {
	width: 125px;
	height: 163px;
	background: #fff;
	border-radius: 8px;
	position: absolute;
	top: 30px;
	padding: 8px 0;
}

.best-nav-list1-li1-list {
	width: 570px;
	height: 352px;
	padding: 0 20px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 190px
}

.best-nav-list1-li1-list-top {
	height: 30px;
	padding: 8px 0;
	width: 570px;
}

.best-nav-list1-li1-list dt {
	font: 16px/30px ""
}

#best-nav .best-ul .best-li .best-nav-list1 .best-nav-list1-li {
	width: 145px;
	heigt: 30px;
	padding: 0 20px
}

#best-nav .best-ul .best-li .best-nav-list2 li {
	width: 125px;
	heigt: 30px;
	padding: 0 20px
}

#best-nav .best-ul .best-li .best-nav-list2 a,
#best-nav .best-ul .best-li .best-nav-list1 a {
	font: 16px/30px "";
	color: #636363
}

#best-nav .best-nav_r {
	margin-right: 20px;
}

#best-nav .best-nav_r li {
	float: left
}

#best-nav .best-nav_r li .search {
	width: 188px;
	height: 20px;
	padding: 4px 6px;
	color: #c0c0c0
}

#best-nav .best-nav_r li .search .fa-search {
	float: right;
	font: 18px/26px ""
}


/*#best-nav .best-nav_r .second {
	width: 150px
}*/

#best-nav .best-nav_r .second .fa {
	width: 16;
	height: 16px;
	padding: 8px 10px 0 15px;
	float: left;
	color: #c0c0c0;
}

#best-nav .best-nav_r .second .fa:hover {
	color: #008000
}

#best-nav .best-nav_r .third a,
#best-nav .best-nav_r .third span {
	font: 16px/30px "";
	color: #c0c0c0;
	padding-left: 10px
}









/*nav2开始*/
#nav2{
	height: 50px;
}
#nav2 img{
	margin-left: 60px;
	float: left;
}
#nav2 a{
	height:50px;
	widht:200px
}

#nav2 .nav2 li{
	float: left;
	padding:0 14px;
	
}

#nav2 .nav2 li a{
	font:16px/50px "";
	color:#7D7D9D;
	
	
}

#nav2 .nav2 li a:hover{
		color:#009F95;
	
}
#nav2 .nav2 li:hover{
	background: #F8F8F8;

	
	
	
}
/*nav2结束*/








/*banner开始*/

#banner {
	height: 500px;
	background: url(../img/plan/banner-2-bg.png);
}

#banner .back {
	height: 500px;
	position: relative;
	background: url(../img/plan/351.png) no-repeat;
}

#banner .back .box {
	position: absolute;
	top: 390px;
	left: 320px;
}

#banner .back dt {
	width: 230px;
	height: 44px;
	background: #FFFFFF;
	text-align: center;
}

#banner .back dt a {
	font: 12px/44px "";
	color: #009F95;
	border-radius: 5px;
}

#banner .back .box dd {
	text-align: center;
	font: 12px/28px "";
	border: 1px solid #fff;
	border-top: 0;
	margin-top: 2px;
	display: none;
}

#banner .back .box dd a {
	color: #fff;
}


/*banner结束*/


/*<!--container开始--> */

#contianer {
	height: 2380px;
	background: #fff;
}

#contianer .back {
	height: 2380px;
	background: url(../img/bigcut/341.png) no-repeat;
}


/*<!--container结束-->*/


/*<!--底部1开始--> */

#foot {
	height: 520px;
	background: #F8F8F8;
}

#foot .back {
	height: 520px;
	background: url(../img/bigcut/291.png) no-repeat;
}


/*<!--底部1结束-->*/


/* <!--底部2开始-->*/

#foot2 {
	margin-left: -10px;
	height: 121px;
	background: #323232;
	border-top: 3px solid #10B041;
}

#foot2 .back {
	height: 121px;
	background: url(../img/bigcut/311.png) no-repeat;
}


/* <!--地步2结束-->*/