@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img{display:block;}
a img{border:0;}
input,textarea,select{outline:none;}
.margin{margin: 0 auto;width:1260px}
.margin2{margin: 0 auto;width:1160px}
.margin3{margin: 0 auto;width:980px}
.margin5{margin: 0 auto;width:790px}
.margin4{margin: 0 auto;width:1200px}
.left{float:left;}
.right{float:right;}
.cu{cursor:pointer;}
.over{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.clear{clear:both;height:0;overflow:hidden;}
.czdq{display:inline-block;width:0;height:100%;vertical-align:middle;}




.clear:after { content:''; display:block; clear:both; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
.wrapper{
    width: 980px;
    margin: 0 auto;
}












