.margin{margin: 0 auto;width: 950px;}
a:hover,a:active,a:focus {color: #ff1a17;}
input{border:0;outline:none;}
/*头部*/
#homeContion{
    background:url(../images/index_03.jpg) repeat-x;
    width:100%;
    height:50px;
    line-height:40px;
    color:#646465;
    position:relative;
    z-index:999999;
}

#top{
    width:950px;
    margin:0 auto;
}
/*顶上左边*/
#topLeft{
    float:left;
    margin-right:10px;
    display:inline;
}
#topLeft a{color:#555;}
#topLeft a:hover{text-decoration:underline;}

/*顶上中间*/
#topCentre{
    float:left;
    display:block;
}
.phone{
    float:left;
    position:relative;
    display:block;
}
.phone:hover .tc-phone{
    display:block;
}
.phone .span1{
    width:12px;
    height:16px;
    float:left;
    display:inline;
    background:url(../images/bj-hz.png) no-repeat -9px -10px;
    margin-top:10px;
}
.phone .span2{
    float:left;
    line-height:40px;
    margin:0 5px;
    display:inline;
}
.phone b{
    width:0px;
    height:0px;
    border-color:#ccccce transparent transparent;
    overflow:hidden;
    border-width:4px;
    border-style:solid dashed dashed;
    float:left;
    margin-top:17px;
}

/*二维码*/
.tc-phone{
    display:none;
    position:absolute;
    width:220px;
    height:140px;
    background:#fff;
    border:1px solid #ccc;
    top:35px;
    left:-35px;
    z-index:99;
}
.jt-up{
    width:10px;
    height:7px;
    position:absolute;
    background:url(../images/bj-hz.png) no-repeat -9px -43px;
    top:-7px;
    left:60px;
    z-index:3;
}
.tc-phone p{
    padding-left:10px;
    padding-top:10px;
    width:auto;
    line-height:20px;
    display:block;
}
.smery{
    width:94px;
    float:left;
    padding-left:10px;
    display:block;
}
.smery ul .iphone{
    float:left;
    margin-top:15px;
    width:93px;
    height:24px;
    background: url(../images/bj-hz.png) no-repeat -9px -108px;
}
.smery ul .iphone:hover{
    background: url(../images/bj-hz.png) no-repeat -9px -74px;
}
.smery ul .android{
    float:left;
    margin-top:10px;
    width:93px;
    height:24px;
    background: url(../images/bj-hz.png) no-repeat -9px -176px;
}
.smery ul .android:hover{
    background: url(../images/bj-hz.png) no-repeat -9px -142px;
}
.smery-img{
    float:left;
    margin-top:10px;
    margin-left:10px;
    display:inline;
}


.welcome{
    font-weight:bold;
    background:url(../images/w_dot_3.gif) repeat-x 0px bottom;
    float:left;
    width:313px;
    height:40px;
    line-height:40px;
    margin-left:10px;
    display:inline;
}
.welcome span{
    float:left;
    font-size:12px;
    font-weight:normal;
    color:#666;
    padding-right:5px;
}
.welcome a:hover{
    color:#555;
    text-decoration:underline;
}


/*顶上右边*/
#topRight{
    float:right;
    color:#000;
    text-align:right;
    display:block;
}
#topRight ul{
    float:right;
}
#topRight ul li{
    float:left;
    padding:0px 10px;
    line-height:40px;
}
#topRight ul li span{display:block;}
#topRight ul li a:hover{
    display:block;
    color:#555;
    text-decoration:underline;
}

/*-------------------------logo搜索区--------------------------------------*/
#seek{
    z-index:9000;
    position:relative;
    width:100%;
    display:block;
}
.seekCont{
    height:100px;
    width:950px;
    margin:0 auto;
    position:relative;
    display:block;
}

/*logo*/
.logo{
    float:left;
    width:32%;
    margin-top:0px;
    display:block;
}

/*搜索框*/
.search{
    float:left;
    width:38%;
    padding:4px 0 0 0;
    margin-top:20px;
    display:block;
}
.searchInput{
    width:100%;
    z-index:11;
    position:relative;
    height:30px;
    margin-bottom:3px;
    border:1px solid #cdcdcd;
    display:block;
}
.form{
    height:30px;
    overflow:hidden;
    display:block;
}
.formdiv{
    position:absolute;
    top:0;left:0;
    width:60px;
    height:30px;
    line-height:30px;
    text-indent:11px;
    display:block;
}
.formdiv b,.formdiv img{float:left;}
.formdiv img{
    margin-top:15px;
    margin-left:10px;
    display:block;
}

.formdiv_menu{
    width:100%;
    position:absolute;
    border:1px solid #999;
    border-top:1px solid #fff;
    top:30px;
    left:-1px;
    display:none;
    text-indent:0px;
}
.formdiv_menu span{
    float:left;
    background:#fff;
    cursor:pointer;
    padding:5px 0px;
    width:100%;
    text-indent:13px;
}

.formdiv:hover .formdiv_menu{
    display:block;
}

.form .text{
    width:63%;
    height:30px;
    padding:0.5% 1%;
    background:#fff;
    color:#999;
    font-size:12px;
    border:0;
    float:left;
    margin-left:60px;
    display:inline;
}
.form .button{
    float:right;
    width:18%;
    height:32px;
    line-height:32px;
    font-size:14px;
    background:#ff1a17;
    color:#fff;
}


/*-----搜索框下的menu----*/
.search .searchHot{
    width:365px;
    height:24px;
    line-height:24px;
    overflow:hidden;
    display:block;
}
.searchHot a{
    display:inline-block;
    padding:0px 5px;
}
.searchHot a:hover{
    text-decoration:underline;
}

/*-------我的为为-----------*/
.member{
    float:left;
    margin:25px 0px 0px 39px;
    position:relative;
    width:104px;
    height:30px;
    border:1px solid #efefef;
    background:#f7f7f7;
    display:block;
}
.member span{
    float:left;
    display:block;
    width:20px;
    height:17px;
    margin:5px 0px 0px 6px;
    background:url(../images/ren.png) no-repeat;
}
.member a{
    float:left;
    margin:5px 0px 0px 7px;
    text-align:center;
}
.member a:hover{
    color:#555;
    text-decoration:underline;
}
.member b{
    float:left;
    width:5px;
    height:10px;
    margin:9px 0px 0px 10px;
    background:url(../images/jian.png) no-repeat;
}

/*-----------------------*/
.account{
    position:relative;
    float:right;
    width:130px;
    height:30px;
    margin-top:25px;
    border:1px solid #efefef;
    background:#f7f7f7;
}
.account .sp1{
    float:left;
    margin:6px 0px 0px 6px;
    width:20px;
    height:16px;
    background:url(../images/che.png) no-repeat;
}
.account a{
    float:left;
    margin:7px 0px 0px 5px;
    font-size:11px;
}
.account b{
    float:left;
    width:5px;
    height:10px;
    margin:9px 0px 0px 10px;
    background:url(../images/jian.png) no-repeat;
}
.account img{
    display:none;
    width:282px;
    height:74px;
    position:absolute;
    top:30px;
    right:-1px;
}


.account:hover img{display:block;}
.account:hover{
    background:#fff;
    border-bottom:0;
}
.account:hover .sp1{
    width:20px;
    height:16px;
    background:url(../images/che1.png) no-repeat;
}
.account:hover a{
    color:#555;
    text-decoration:underline;
}
.account:hover b{
    background:url(../images/jian1.png) no-repeat;
}


/*-----------------导航栏-----------------------------*/
#daohang{
    width:100%;
    height:37px;
    background:#ff1a17;
    display:block;
}
#navList{
    width:950px;
    height:37px;
    margin:0 auto;
}

/*-----导航左侧--------*/
.navList_left{
    float:left;
    margin-left:25px;
    width:751px;
    height:34px;
}
.navList_left ul li{
    float:left;
    margin-top:3px;
    width:80px;
    height:34px;
    line-height:34px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
}
.navList_left ul li a{color:#fff;}
.navList_left ul li:hover{
    background:#fff;
    color:#000;
}
.navList_left ul li:hover a{
    color:#000;
    text-decoration:underline;
}

/*导航右侧*/
.navList_right{
    float:right;
    width:150px;
    height:41px;
    right:0px;
    margin-top:-4px;
    display:block;
}
.navList_right a img{
    width:141px;height:41px;
}



/*公共底部*/
#bottom{
    background: #fff;
    height:auto;
    margin-top:10px;
    padding-top: 30px;
    border-top: 1px solid #dddddd;
}
.da {
    width: 100%;
    height: 8px;
    background: url("../images/dbg.png") repeat-x;
    background-position: 0px;
}

.diva1 {
    float: left;
    width: 260px;
    height: 145px;
    border-right: 1px solid #e5e5e5;
}

.diva2 {
    float: left;
    width: 611px;
    height: 145px;
    border-right: 1px solid #e5e5e5;
    margin-left: 62px;
}

.diva2 ul {
    float: left;
    width: 122px;
    height: 145px;
}

.diva2 ul li {
    height: 22px;
    color: #4d4d4d;
    font-size: 11px;
}


.diva3 {
    float: left;
    width: 265px;
    height: 145px;
}

.diva3 .p1 {
    height: 24px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.diva3 .p1 span {
    margin-left: 48px;
    width: 84px;
}

.diva3 img {
    margin-left: 48px;
    float: left;
}

.diva3 .p2 {
    height: 24px;
    font-size: 11px;
    line-height: 24px;
}

.diva3 .p2 span {margin-left: 48px;}

.diul1 {
    width: 490px;
    height: 12px;
    margin: auto;
}

.diul1 li {
    float: left;
    width: 69px;
    font-size: 12px;
    border-right: 1px solid #d6d6d6;
    text-align: center;
}

.diul1 li a {color: #4d4d4d;}

.diul2 {
    width: 374px;
    height: 16px;
    margin: auto;
    margin-top: 14px;
}

.diul2 li {
    float: left;
    font-size: 12px;
    border-right: 1px solid #d6d6d6;
    text-align: center;
}

.divimg {
    width: 822px;
    height: 43px;
    margin: auto;
}

.divimg a {
    float: left;
    margin-right: 10px;
}
#abs{
    height:auto;
    position: fixed;
    bottom: 100px;right: 40px;

}
#abs p{
    padding-top: 5px;
    height:40px;
    width: 35px;
    background: #ff1a17;
    color: #fff;
    margin:10px 0;
    border-radius:5px ;
    font:12px/16px "";
    text-align: center;
    cursor: pointer;
}
#abs2{
    display: none;
    height:140px;
    width: 120px;
    border: 1px solid #ddd;
    text-align: center;
    position: fixed;
    bottom: 100px;
    right:100px;
    padding-top:10px;
    background: #fff;
}
#abs2 span{
    font: 14px/22px "";
    color: #000;
}


