/*公共导航*/

#best-nav {
	height: 30px;
	background: #323232;
	min-width: 1160px;
	position: relative;
}

#best-nav .best-logo {
	margin: 6px 5px 0 30px
}

#best-nav .best-ul {
	padding-left: 20px
}

#best-nav .best-ul .best-li {
	float: left;
}

#best-nav .best-ul .best-li .best-li-title {
	float: left;
	font: 700 14px/30px "";
	padding: 0 10px;
	color: silver;
	margin-right: 10px;
}

#best-nav .best-ul .best-li .best-li-title:hover {
	color: #008000;
}

#best-nav .best-ul .best-li .best-nav-list1 {
	width: 185px;
	height: 99px;
	background: #fff;
	border-radius: 8px;
	position: absolute;
	top: 30px;
	padding: 8px 0;
}

#best-nav .best-ul .best-li .best-nav-list2 {
	width: 125px;
	height: 163px;
	background: #fff;
	border-radius: 8px;
	position: absolute;
	top: 30px;
	padding: 8px 0;
}

.best-nav-list1-li1-list {
	width: 570px;
	height: 352px;
	padding: 0 20px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 190px
}

.best-nav-list1-li1-list-top {
	height: 30px;
	padding: 8px 0;
	width: 570px;
}

.best-nav-list1-li1-list dt {
	font: 16px/30px ""
}

#best-nav .best-ul .best-li .best-nav-list1 .best-nav-list1-li {
	width: 145px;
	heigt: 30px;
	padding: 0 20px
}

#best-nav .best-ul .best-li .best-nav-list2 li {
	width: 125px;
	heigt: 30px;
	padding: 0 20px
}

#best-nav .best-ul .best-li .best-nav-list2 a,
#best-nav .best-ul .best-li .best-nav-list1 a {
	font: 16px/30px "";
	color: #636363
}

#best-nav .best-nav_r {
	margin-right: 20px;
}

#best-nav .best-nav_r li {
	float: left
}

#best-nav .best-nav_r li .search {
	width: 188px;
	height: 20px;
	padding: 4px 6px;
	color: #c0c0c0
}

#best-nav .best-nav_r li .search .fa-search {
	float: right;
	font: 18px/26px ""
}


/*#best-nav .best-nav_r .second {
	width: 150px
}*/

#best-nav .best-nav_r .second .fa {
	width: 16;
	height: 16px;
	padding: 8px 10px 0 15px;
	float: left;
	color: #c0c0c0;
}

#best-nav .best-nav_r .second .fa:hover {
	color: #008000
}

#best-nav .best-nav_r .third a,
#best-nav .best-nav_r .third span {
	font: 16px/30px "";
	color: #c0c0c0;
	padding-left: 10px
}


/*公公导航*/


/*搜索开始*/

#head .head-logo {
	padding: 32px 0 0 20px;
	width: 320px;
	height: 54px
}

#zwhomeSearchs {
	padding-top: 32px;
}

#zwhomeSearchs input {
	width: 310px;
	height: 20px;
	padding: 10px 25px;
	border: 0;
	border-radius: 50px 0 0 50px;
	float: left;
}

#zwhomeSearchs a {
	text-align: center;
	width: 118px;
	border-left: 2px solid #2DD382;
	font: 16px/40px "";
	color: #10B041;
	height: 40px;
	background: #fff;
	border-radius: 0 50px 50px 0;
	float: left;
}


/*head开始*/

#head {
	background-color: #42c77b;
	background-image: -webkit-linear-gradient(180deg, #50c971, #0fbfa6);
	background-image: -webkit-linear-gradient(top, #50c971, #0fbfa6);
	background-image: linear-gradient(180deg, #50c971, #0fbfa6);
	height: 120px;
}


/*head结束*/


/*head-nav*/

.head-nav {
	height: 50px;
	background: #fff;
}

.head-nav ul li {
	float: left;
	position: relative;
}

.head-nav ul li a:hover {
	background-color: #f5f5f5;
	color: #10B041
}

.head-nav ul li a {
	font: 16px/50px "";
	padding: 0 30px;
	color: #323232;
	display: inline-block;
}

.head-nav ul li .sssa {
	position: absolute;
	top: 5px;
	right: 0;
}


/*焦点图*/

#banner {
	height: 420px;
}

#homeSliders {
	height: 420px;
	width: 100%;
	position: relative;
	overflow: -hidden;
}

#homeSliders p {
	position: absolute;
	top: 200px;
	display: block;
	font: 900 30px/30px ""
}

#banner .banner-turn {
	height: 420px;
	display: block;
	position: absolute;
}

#banner ul li {
	height: 420px;
	width: 1366px;
	float: left;
}


/*焦点图*/


/*广告*/

.advertisement {
	height: 110px;
	margin: 20px 0;
}

.advertisement ul li {
	float: left;
	padding-right: 20px;
}


/*限时特卖*/

#overtime {
	height: 195px;
	padding: 30px 0 50px 0;
	background: #F5F5F5;
}


/*机车推荐*/

.car {
	height: 624px;
	padding: 35px 0 50px 0;
	background: #fff;
	overflow: hidden;
}

.car .car_nav {
	height: 40px
}

.car .car-banner {
	margin-top: 20px;
}

.car .nav li {
	float: left;
	width: 64px;
	height: 28px;
	padding-left: 30px
}

.car .nav li a {
	font: 16px/28px "";
	color: #636363
}

.car .nav li a:hover {
	color: #16C1A0;
}

.active {
	border-bottom: 3px solid #16C1A0;
}

.car .car-banner ul li {
	display: none;
	width: 1160px;
	height: 553px;
}


/*城市玩乐*/

.city {
	height: 624px;
	padding: 35px 0 50px 0;
	background: #f5f5f5;
}

.city .car_nav {
	height: 40px
}

.city .city-banner {
	margin-top: 20px;
}

.city .city-nav li {
	float: left;
	width: 64px;
	height: 28px;
	padding-left: 30px
}

.city .city-nav li a {
	font: 16px/28px "";
	color: #636363
}

.city .city-nav li a:hover {
	color: #16C1A0;
}

.active {
	border-bottom: 3px solid #16C1A0;
}

.city .city-banner ul li {
	display: none;
	width: 1160px;
	height: 553px;
}


/*主题推荐*/

.thame {
	height: 634px;
	padding: 35px 0 50px 0;
	overflow: hidden;
}

.thame .thame_nav {
	height: 40px
}

.thame .thame-banner {
	margin-top: 20px;
}

.thame .nav li {
	float: left;
	width: 64px;
	height: 28px;
	padding-left: 30px
}

.thame .nav li a {
	font: 16px/28px "";
	color: #636363
}

.thame .nav li a:hover {
	color: #16C1A0;
}

.active {
	border-bottom: 3px solid #16C1A0;
}

.thame .thame-banner ul li {
	display: none;
	width: 1160px;
	height: 553px;
}


/*公共尾部*/

#weibu {
	background: #F5F5F5;
	height: 220px;
	min-width: 1160px;
}

#weibu .weibu_nav {
	padding-top: 25px;
	width: 1160px;
	height: 27px
}

#weibu .weibu_nav li {
	float: left;
	padding: 0 35px;
	background: url(../img/active/261.png)no-repeat;
}

#weibu .weibu_nav #first {
	padding-left: 0;
	background: #f5f5f5;
}

#weibu .weibu_nav li a {
	font: 18px/24px "";
	color: #575757
}

#weibu .weibu_nav li a:hover {
	color: #008000;
}

.weibu_buttom {
	padding: 60px 0 50px 0;
	height: 58px
}

.weibu_buttom li {
	float: left;
	padding-left: 75px;
	position: relative;
	margin-left: 20px;
}

.weibu_buttom .photo {
	position: absolute;
	top: 0;
	left: 0;
	width: 56px;
	height: 56px;
	background: url(../img/active/foot-feature.png)no-repeat;
	float: left;
}

.weibu_buttom .title {
	width: 275px;
	height: 18px;
	font: 16px/18px "";
	padding-bottom: 2px;
}

.weibu_buttom .text {
	width: 275px;
	height: 36px;
	font: 12px/18px "";
	color: #c0c0c0
}


/*公共底部*/

.footer {
	height: 169px;
	background: #333333;
	padding: 48px 0;
}

.footer .footer_top {
	height: 48px
}

.choose {
	display: none;
}

.guanzhu {
	font: 18px/48px "";
	color: #f0f0f0;
	margin-right: 10px;
}

.right dd {
	margin-left: 10px;
}

.left i {
	color: #f0f0f0
}

.circle {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 2px solid #c0c0c0;
}

.footer .text {
	width: 540px;
	height: 48px;
	margin-left: 25px;
	font: 14px/24px "";
	color: #C0C0C0
}

.footer .copy {
	padding-top: 46px;
	width: 1160px
}

.footer .copy a {
	color: #c0c0c0;
	font: 14px/21px "";
}

.footer .copy a:hover {
	text-decoration: underline;
}

.footer .copy span {
	color: #c0c0c0;
	font: 14px/24px "";
	padding: 0 18px;
	width: 3px;
	height: 16px
}

.footer .copy .copy_buttom {
	color: #c0c0c0;
	font: 12px/26px "";
}

#body-goup {
	position: fixed;
	right: 0;
	top: 40%;
	width: 50px;
	height: 155px;
	display: none;
}

#body-goup a {
	width: 48px;
	height: 48px;
	display: inline-block;
	background-color: #fff;
	color: #999;
	font: 14px/24px "";
	text-align: center;
	cursor: pointer;
	border: 1px solid #eee;
}

#body-goup #goup {
	width: 48px;
	height: 48px;
	display: inline-block;
	background-color: #fff;
	color: #999;
	font: 14px/48px "";
	text-align: center;
	margin-top: 4px;
	cursor: pointer;
	border: 1px solid #eee;
}