body {
	background: #FAFAFA;
}

#best-nav {
	height: 30px;
	background: #323232;
	min-width: 1160px;
	position: relative;
}

#best-nav .best-logo {
	margin: 6px 5px 0 30px
}

#best-nav .best-ul {
	padding-left: 20px
}

#best-nav .best-ul .best-li {
	float: left;
}

#best-nav .best-ul .best-li .best-li-title {
	float: left;
	font: 700 14px/30px "";
	padding: 0 10px;
	color: silver;
	margin-right: 10px;
}

#best-nav .best-ul .best-li .best-li-title:hover {
	color: #008000;
}

#best-nav .best-ul .best-li .best-nav-list1 {
	width: 185px;
	height: 99px;
	background: #fff;
	border-radius: 8px;
	position: absolute;
	top: 30px;
	padding: 8px 0;
}

#best-nav .best-ul .best-li .best-nav-list2 {
	width: 125px;
	height: 163px;
	background: #fff;
	border-radius: 8px;
	position: absolute;
	top: 30px;
	padding: 8px 0;
}

.best-nav-list1-li1-list {
	width: 570px;
	height: 352px;
	padding: 0 20px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 190px
}

.best-nav-list1-li1-list-top {
	height: 30px;
	padding: 8px 0;
	width: 570px;
}

.best-nav-list1-li1-list dt {
	font: 16px/30px ""
}

#best-nav .best-ul .best-li .best-nav-list1 .best-nav-list1-li {
	width: 145px;
	heigt: 30px;
	padding: 0 20px
}

#best-nav .best-ul .best-li .best-nav-list2 li {
	width: 125px;
	heigt: 30px;
	padding: 0 20px
}

#best-nav .best-ul .best-li .best-nav-list2 a,
#best-nav .best-ul .best-li .best-nav-list1 a {
	font: 16px/30px "";
	color: #636363
}

#best-nav .best-nav_r {
	margin-right: 20px;
}

#best-nav .best-nav_r li {
	float: left
}

#best-nav .best-nav_r li .search {
	width: 188px;
	height: 20px;
	padding: 4px 6px;
	color: #c0c0c0
}

#best-nav .best-nav_r li .search .fa-search {
	float: right;
	font: 18px/26px ""
}


/*#best-nav .best-nav_r .second {
	width: 150px
}*/

#best-nav .best-nav_r .second .fa {
	width: 16;
	height: 16px;
	padding: 8px 10px 0 15px;
	float: left;
	color: #c0c0c0;
}

#best-nav .best-nav_r .second .fa:hover {
	color: #008000
}

#best-nav .best-nav_r .third a,
#best-nav .best-nav_r .third span {
	font: 16px/30px "";
	color: #c0c0c0;
	padding-left: 10px
}


/*//head-image层*/

#head-image {
	height: 480px;
}

#head-user {
	height: 130px;
}

#head-user .head-back {
	height: 130px;
	position: relative;
	background: url(../img/myself/871.png);
}

#head-user .head-back img {
	width: 120px;
	height: 120px;
	position: absolute;
	top: -60px;
	left: 10px;
	border-radius: 50%;
}

#head-user .head-back #usernames {
	font: 18px/50px "";
	padding-left: 180px;
}

#something {
	height: 407px;
}

#your-map {
	height: 352px;
}

#your-map .your-map {
	width: 676px;
	height: 352px;
	background: #eee;
	border: 1px solid #ccc;
}

#your-map .weiba {
	width: 676px;
	height: 60px;
	background: url(../img/myself/911.png);
	border: 1px solid #ccc;
}

#something2 {
	height: 336px;
}

#your-talk .your-talk {
	width: 676px;
	padding:1px
}

#your-talk .your-talk .talk-title {
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 20px;
	color: #636363;
}

#your-talk .your-talk .write-border {
	border-bottom: 1px solid #DDDDDD;
}

#your-talk .your-talk .write {
	padding-top: 20px;
	width: 588px;
	height: 140px;
	padding-left: 92px;
	position: relative;
	margin-bottom: 20px;
}

#your-talk .your-talk .write .user-photo .photo {
	width: 80px;
	height: 80px;
	border-radius: 50px;
	position: absolute;
	left: 0;
}

#your-talk .your-talk .write .shuru {
	width: 568px;
	height: 120px;
	background: #f5f5f5;
	border: 1px solid #d7d7d7;
	padding: 9px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .12);
}

#your-talk .your-talk .write .shuru textarea {
	width: 552px;
	height: 72px;
	min-height: 72px;
	background: #fff;
	border: 0;
	padding: 3px 7px;
	border: 1px solid silver;
	line-height: 24px;
	font-size: 14px;
	overflow: auto;
}

#your-talk .your-talk .write .shuru .liuyan {
	padding-top: 10px;
}

#your-talk .your-talk .write .shuru .liuyan span {
	font: 12px/20px "";
}

#your-talk .your-talk .write .shuru .liuyan input {
	display: inline-block;
	height: 28px;
	padding: 0 15px;
	border: none;
	border-radius: 3px;
	overflow: visible;
	font-size: 14px;
	line-height: 28px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	background-color: #3f9f5f;
}

#your-talk .your-talk #contant {
	padding: 1px;
	
}

#contant .model {
	width: 622px;
	padding: 20px 0 20px 58px;
	border-bottom: 1px solid #ececec;
	position: relative;
}

#contant .model img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: absolute;
	left: 0;
}

#contant .model .username  {
	font: 14px/16px "";
	height: 16px;
	color: #10B041;
}

#contant .model .username a {
	font: 14px/16px "";
	height: 16px;
	color: #10B041;
}

#contant .model .username a:hover {
	text-decoration: underline;
}

#contant .model .contain {
	padding-top: 1px;
	font-size: 14px;
	word-break: break-all;
	word-wrap: break-word;
}

#contant .model .date {
	padding-top: 9px;
	font:12px/14px "微软雅黑";
	color: #959595;
	line-height: 14px;
}


.help{
	text-align: center;
	font:12px/140px "微软雅黑";
	height: 140px;
}

.footer{
	border-top: 2px solid #10B041;
	height: 121px;
	background: #323232;
}

.footer .foot{
	background: url(../img/myself/931.png) no-repeat;
	height: 121px;
}