.grand-title{
    height: 49px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px; ;
}
.grand-title p em{
    font-size: 30px;
    color: #636363;
    margin: 0 2px;
}
.grand-title h1{
    float: left;
    font-size: 20px;
    color: #323232;
    width: 770px;
}
.grand-price span{
    font: 14px/16px "微软雅黑";
    color: #959595;;
    margin-left: 10px;
}

#div1 { width: 420px; height: 280px;position: relative; }

#div1 .small_pic { width: 420px; height: 280px; background: #eee; position: relative; }
#div1 .float_layer { width: 50px; height: 50px; border: 1px solid #000; background: #fff; filter: alpha(opacity= 30); opacity: 0.3; position: absolute; top: 0; left: 0; display:none; }
#div1 .mark {width:100%; height:100%; position:absolute; z-index:2; left:0; top:0; background:red; filter:alpha(opacity=0); opacity:0;}
#div1 .big_pic { position: absolute; top: -1px; left: 450px; width:420px; height:280px; overflow:hidden; border:2px solid #CCC; display:none; }
#div1 .big_pic img { position:absolute; top: -30px; left: -80px;width: 840px;height: 560px }
.img-glass{
    margin-top: 20px;
}
.section-title{
   margin-top: 20px;
    width: 530px;
    height: 1143px;
    border: 1px solid #eeeeee;
    box-shadow: 2px 2px #ededed;
}
.info-sec ul li{
    width: 360px;
    height: 36px;
    border: 1px solid #eeeeee;
    float: left;
}
.info-sec ul li p{
    padding-right: 10px;
    float: left;
    line-height: 36px;
    display: inline-block;
    width: 170px;
    height: 36px;
    font-size: 16px;
}








